header {
    background-color: $header-bg-color;

    ul {
        list-style-type: none;
        padding: 0;
        overflow: hidden;
        max-width: $body-width-max;
        margin: auto;


        li {
            float: left;
            border-right: 1px solid #bbb;

            a {
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

            a:hover {
                background-color: #111;
            }

            .active {
                background-color: #04AA6D;
            }
        }

        li:nth-last-child(-n+2) {
            float: right;
            border-left: 1px solid #bbb;
            border-right: none;
        }

        li:last-child {
            border-left: none;
        }
    }
}
